.home-body {
    overflow: auto;
    background-color:#292929;
    height: 100%;
}

.search-container {
    width: 100%;
    height: 5vh;
    position: fixed;
    z-index: 1;
}

.search-textbox {
    width: 60%;
    height: 38px;
    text-indent: 10px;
    border: 1px solid #FFF;
    border-radius: 5px;
    color: #FFF;
    background: #292929;
}

.recipe-list {
    padding-top: 7%;
}

.loader-text {
    color: #FFF;
    padding-left: 12px;
}